.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f2f2f8;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background: #d2d2d8;
  border-radius: 50%;
  position: relative;
  animation: spin 1.5s infinite linear;
}

.circle::before {
  content: "";
  width: 75%;
  height: 75%;
  background: #f2f2f8;
  border-radius: 50%;
  position: absolute;
}

.circle::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #f2f2f8;
  clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
  animation: changeShape 1.5s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes changeShape {
  0% {
    clip-path: polygon(50% 50%, 100% 0%, 100% 0%, 100% 100%, 100% 100%);
  }

  50% {
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 100% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
}
